HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.aider*
/logs/bookstore.2025-07-05.log
/logs/bookstore.2025-07-06.log
/src/main/resources/database/bookstore_complete_setup.sql
/logs/error.2025-07-05.log
/logs/error.2025-07-06.log
/logs/
/logs/bookstore.2025-07-08.log
/logs/error.2025-07-08.log
